html{
    text-align: center;
}
input{
    width: 300px;
    height: 40px;
    margin: 5px 10px ;
}
form{
    border: 1px solid black;
    margin: 50px 530px 300px;
}
input[type="checkbox"]{
    padding: auto;
    margin: 20px 20px;
    width: 20px;
    height: 20px;
    border: 1px solid black ;
}
.robot{
    border: 1px solid black;
    margin: 20px 100px;
    background-color: rgb(7, 113, 213);
    color: aliceblue;
}
input[type="submit"]{
    background-color: rgb(41, 240, 41);
    font-size: 20px;
}
input[type="reset"]{
    background-color: rgb(239, 157, 16);
    font-size: 20px;
}
label{
    color: rgb(2, 175, 255);
    font-size: 20px;
}
img{
    margin: 100px 0px 0px;
}